<!DOCTYPE html>
<html lang="en">
	<head>
	    <% include ../partials/head %>
	</head>
	<body ng-app='app' ng-cloak>
	
	    <header class="header header-fixed">
	        <% include ../partials/header %>
	    </header>
	
	    <section ng-view></section>
	</body>
</html>
